@charset "UTF-8";

@import "variables";

html{
    &[lang="ko-KR"], &[lang="ko"]{
        font-family: $font-family-ko;
    }
    body{
        font-size: $body-fz;
        font-weight: 400;
        line-height: $line-height;
        color: $base-color;
    }
    &[lang="en"], *[lang="en"]{
        font-family: $font-family-en;

        body{
            font-size: $body-fz;
            font-weight: 400;
        }
    }

    @media (max-width: 720px) {
        body{
            font-size: 2.22vw;
        }
    }
}