@charset "UTF-8";

// 본문(paragraph) 사이즈
$body-fz: 16px;

// 본문(paragraph) 기본 컬러
$base-color: #222;

// 기본 행간 비율
$line-height: 1.4;

// 본문 행간 비율
$base-line: $body-fz * 1.4;

// 적용 웹 폰트
$font-family-ko: 'NotoSans', sans-serif;
$font-family-en: 'NotoSans', Arial, sans-serif;
