@font-face {
  font-family: "Noto Sans KR";
  src: url("../font/NotoSansKR-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../font/NotoSansKR-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../font/NotoSansKR-DemiLight.woff") format("woff");
  font-weight: 350;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../font/NotoSansKR-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../font/NotoSansKR-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../font/NotoSansKR-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../font/NotoSansKR-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
html[lang=ko-KR], html[lang=ko] {
  font-family: "NotoSans", sans-serif;
}
html body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #222;
}
html[lang=en], html *[lang=en] {
  font-family: "NotoSans", Arial, sans-serif;
}
html[lang=en] body, html *[lang=en] body {
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 720px) {
  html body {
    font-size: 3.61vw;
  }
}

html * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, figure, legend, input, textarea,
button, p, blockquote, th, td, form, fieldset, blockquote, iframe {
  margin: 0;
  padding: 0;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

command, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr {
  display: inline;
}

img {
  vertical-align: top;
  border: 0;
}

ul, ol, li {
  list-style: none;
}

hr {
  display: none;
  border: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

a {
  color: inherit;
  cursor: pointer;
}
a:link {
  text-decoration: none;
}
a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  word-break: keep-all;
}

em, i, address, cite {
  font-style: normal;
  font-weight: normal;
}

fieldset {
  border: 0;
}

legend, caption {
  display: none;
  clear: both;
}

input, textarea, select, button, table {
  font-size: inherit;
  font-family: inherit;
  font-size: inherit;
  border: 0;
  background-color: transparent;
}

button, select {
  cursor: pointer;
}

textarea, input, select {
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  outline-color: -moz-use-text-color;
  outline-style: none;
  outline-width: medium;
}

textarea {
  resize: none;
  appearance: none;
}

label {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label img {
  pointer-events: none;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  border-collapse: collapse;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

b, strong {
  font-weight: bold;
}

mark {
  background: #ff0;
  color: inherit;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* blind */
.blind {
  display: none;
  overflow: hidden;
  border: 0;
  position: relative;
  z-index: -1;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

img {
  width: 100%;
}

.al-c {
  text-align: center !important;
}

.al-l {
  text-align: left !important;
}

.al-r {
  text-align: right !important;
}

.line_01 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pc_only {
  display: block;
}

.mo_only {
  display: none;
}

.c-red {
  color: #ff0000 !important;
}

.flex-end {
  display: flex;
  align-items: flex-end !important;
}

.flex-center {
  display: flex;
  align-items: center !important;
}

.flex-start {
  display: flex;
  align-items: flex-start !important;
}

.bold {
  font-weight: 700 !important;
}

/* space */
.mt-0 {
  margin-top: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.mt-1 {
  margin-top: 10px !important;
}

.pt-1 {
  padding-top: 10px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.pt-2 {
  padding-top: 20px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.pt-3 {
  padding-top: 30px !important;
}

.mt-4 {
  margin-top: 40px !important;
}

.pt-4 {
  padding-top: 40px !important;
}

.mt-5 {
  margin-top: 50px !important;
}

.pt-5 {
  padding-top: 50px !important;
}

.mt-6 {
  margin-top: 60px !important;
}

.pt-6 {
  padding-top: 60px !important;
}

.mt-7 {
  margin-top: 70px !important;
}

.pt-7 {
  padding-top: 70px !important;
}

.mt-8 {
  margin-top: 80px !important;
}

.pt-8 {
  padding-top: 80px !important;
}

.mt-9 {
  margin-top: 90px !important;
}

.pt-9 {
  padding-top: 90px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.mb-1 {
  margin-bottom: 10px !important;
}

.pb-1 {
  padding-bottom: 10px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.pb-2 {
  padding-bottom: 20px !important;
}

.mb-3 {
  margin-bottom: 30px !important;
}

.pb-3 {
  padding-bottom: 30px !important;
}

.mb-4 {
  margin-bottom: 40px !important;
}

.pb-4 {
  padding-bottom: 40px !important;
}

.mb-5 {
  margin-bottom: 50px !important;
}

.pb-5 {
  padding-bottom: 50px !important;
}

.mb-6 {
  margin-bottom: 60px !important;
}

.pb-6 {
  padding-bottom: 60px !important;
}

.mb-7 {
  margin-bottom: 70px !important;
}

.pb-7 {
  padding-bottom: 70px !important;
}

.mb-8 {
  margin-bottom: 80px !important;
}

.pb-8 {
  padding-bottom: 80px !important;
}

.mb-9 {
  margin-bottom: 90px !important;
}

.pb-9 {
  padding-bottom: 90px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.mr-1 {
  margin-right: 10px !important;
}

.pr-1 {
  padding-right: 10px !important;
}

.mr-2 {
  margin-right: 20px !important;
}

.pr-2 {
  padding-right: 20px !important;
}

.mr-3 {
  margin-right: 30px !important;
}

.pr-3 {
  padding-right: 30px !important;
}

.mr-4 {
  margin-right: 40px !important;
}

.pr-4 {
  padding-right: 40px !important;
}

.mr-5 {
  margin-right: 50px !important;
}

.pr-5 {
  padding-right: 50px !important;
}

.mr-6 {
  margin-right: 60px !important;
}

.pr-6 {
  padding-right: 60px !important;
}

.mr-7 {
  margin-right: 70px !important;
}

.pr-7 {
  padding-right: 70px !important;
}

.mr-8 {
  margin-right: 80px !important;
}

.pr-8 {
  padding-right: 80px !important;
}

.mr-9 {
  margin-right: 90px !important;
}

.pr-9 {
  padding-right: 90px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.ml-1 {
  margin-left: 10px !important;
}

.pl-1 {
  padding-left: 10px !important;
}

.ml-2 {
  margin-left: 20px !important;
}

.pl-2 {
  padding-left: 20px !important;
}

.ml-3 {
  margin-left: 30px !important;
}

.pl-3 {
  padding-left: 30px !important;
}

.ml-4 {
  margin-left: 40px !important;
}

.pl-4 {
  padding-left: 40px !important;
}

.ml-5 {
  margin-left: 50px !important;
}

.pl-5 {
  padding-left: 50px !important;
}

.ml-6 {
  margin-left: 60px !important;
}

.pl-6 {
  padding-left: 60px !important;
}

.ml-7 {
  margin-left: 70px !important;
}

.pl-7 {
  padding-left: 70px !important;
}

.ml-8 {
  margin-left: 80px !important;
}

.pl-8 {
  padding-left: 80px !important;
}

.ml-9 {
  margin-left: 90px !important;
}

.pl-9 {
  padding-left: 90px !important;
}

@media all and (max-width: 750px) {
  .pc_only {
    display: none;
  }
  .mo_only {
    display: block;
  }
  /* space */
  .mt-0 {
    margin-top: 0vw !important;
  }
  .pt-0 {
    padding-top: 0vw !important;
  }
  .mt-1 {
    margin-top: 1.39vw !important;
  }
  .pt-1 {
    padding-top: 1.39vw !important;
  }
  .mt-2 {
    margin-top: 2.78vw !important;
  }
  .pt-2 {
    padding-top: 2.78vw !important;
  }
  .mt-3 {
    margin-top: 4.17vw !important;
  }
  .pt-3 {
    padding-top: 4.17vw !important;
  }
  .mt-4 {
    margin-top: 5.56vw !important;
  }
  .pt-4 {
    padding-top: 5.56vw !important;
  }
  .mt-5 {
    margin-top: 6.95vw !important;
  }
  .pt-5 {
    padding-top: 6.95vw !important;
  }
  .mt-6 {
    margin-top: 8.34vw !important;
  }
  .pt-6 {
    padding-top: 8.34vw !important;
  }
  .mt-7 {
    margin-top: 9.73vw !important;
  }
  .pt-7 {
    padding-top: 9.73vw !important;
  }
  .mt-8 {
    margin-top: 11.12vw !important;
  }
  .pt-8 {
    padding-top: 11.12vw !important;
  }
  .mt-9 {
    margin-top: 12.51vw !important;
  }
  .pt-9 {
    padding-top: 12.51vw !important;
  }
  .mb-0 {
    margin-bottom: 0vw !important;
  }
  .pb-0 {
    padding-bottom: 0vw !important;
  }
  .mb-1 {
    margin-bottom: 1.39vw !important;
  }
  .pb-1 {
    padding-bottom: 1.39vw !important;
  }
  .mb-2 {
    margin-bottom: 2.78vw !important;
  }
  .pb-2 {
    padding-bottom: 2.78vw !important;
  }
  .mb-3 {
    margin-bottom: 4.17vw !important;
  }
  .pb-3 {
    padding-bottom: 4.17vw !important;
  }
  .mb-4 {
    margin-bottom: 5.56vw !important;
  }
  .pb-4 {
    padding-bottom: 5.56vw !important;
  }
  .mb-5 {
    margin-bottom: 6.95vw !important;
  }
  .pb-5 {
    padding-bottom: 6.95vw !important;
  }
  .mb-6 {
    margin-bottom: 8.34vw !important;
  }
  .pb-6 {
    padding-bottom: 8.34vw !important;
  }
  .mb-7 {
    margin-bottom: 9.73vw !important;
  }
  .pb-7 {
    padding-bottom: 9.73vw !important;
  }
  .mb-8 {
    margin-bottom: 11.12vw !important;
  }
  .pb-8 {
    padding-bottom: 11.12vw !important;
  }
  .mb-9 {
    margin-bottom: 12.51vw !important;
  }
  .pb-9 {
    padding-bottom: 12.51vw !important;
  }
  .mr-0 {
    margin-right: 0vw !important;
  }
  .pr-0 {
    padding-right: 0vw !important;
  }
  .mr-1 {
    margin-right: 1.39vw !important;
  }
  .pr-1 {
    padding-right: 1.39vw !important;
  }
  .mr-2 {
    margin-right: 2.78vw !important;
  }
  .pr-2 {
    padding-right: 2.78vw !important;
  }
  .mr-3 {
    margin-right: 4.17vw !important;
  }
  .pr-3 {
    padding-right: 4.17vw !important;
  }
  .mr-4 {
    margin-right: 5.56vw !important;
  }
  .pr-4 {
    padding-right: 5.56vw !important;
  }
  .mr-5 {
    margin-right: 6.95vw !important;
  }
  .pr-5 {
    padding-right: 6.95vw !important;
  }
  .mr-6 {
    margin-right: 8.34vw !important;
  }
  .pr-6 {
    padding-right: 8.34vw !important;
  }
  .mr-7 {
    margin-right: 9.73vw !important;
  }
  .pr-7 {
    padding-right: 9.73vw !important;
  }
  .mr-8 {
    margin-right: 11.12vw !important;
  }
  .pr-8 {
    padding-right: 11.12vw !important;
  }
  .mr-9 {
    margin-right: 12.51vw !important;
  }
  .pr-9 {
    padding-right: 12.51vw !important;
  }
  .ml-0 {
    margin-left: 0vw !important;
  }
  .pl-0 {
    padding-left: 0vw !important;
  }
  .ml-1 {
    margin-left: 1.39vw !important;
  }
  .pl-1 {
    padding-left: 1.39vw !important;
  }
  .ml-2 {
    margin-left: 2.78vw !important;
  }
  .pl-2 {
    padding-left: 2.78vw !important;
  }
  .ml-3 {
    margin-left: 4.17vw !important;
  }
  .pl-3 {
    padding-left: 4.17vw !important;
  }
  .ml-4 {
    margin-left: 5.56vw !important;
  }
  .pl-4 {
    padding-left: 5.56vw !important;
  }
  .ml-5 {
    margin-left: 6.95vw !important;
  }
  .pl-5 {
    padding-left: 6.95vw !important;
  }
  .ml-6 {
    margin-left: 8.34vw !important;
  }
  .pl-6 {
    padding-left: 8.34vw !important;
  }
  .ml-7 {
    margin-left: 9.73vw !important;
  }
  .pl-7 {
    padding-left: 9.73vw !important;
  }
  .ml-8 {
    margin-left: 11.12vw !important;
  }
  .pl-8 {
    padding-left: 11.12vw !important;
  }
  .ml-9 {
    margin-left: 12.51vw !important;
  }
  .pl-9 {
    padding-left: 12.51vw !important;
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 700;
}
.btn.line {
  color: #666;
  border: 1px solid #bbb;
}
.btn.line.white {
  color: #fff;
  border-color: #fff;
}
.btn.bg-primary {
  color: #fff;
  background-color: #2C2E58;
}
.btn.text {
  font-weight: 400;
  font-size: 14px;
  color: #666;
  border-radius: 0;
}
.btn.text:hover {
  text-decoration: underline;
}
.btn.size-s {
  padding: 0 20px;
  height: 40px;
}
.btn.size-m {
  padding: 0 20px;
  min-width: 130px;
  height: 50px;
}
.btn.size-l {
  width: 100%;
  height: 60px;
}
.btn-wrap.text {
  display: flex;
  align-items: center;
}
.btn-wrap.text .btn + .btn::before {
  content: "";
  display: inline-block;
  margin: 0 10px;
  width: 1px;
  height: 14px;
  background-color: #666;
}

.input {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding: 0 10px;
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}
.input input {
  width: 100%;
}

.inner {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1600px;
}

.header {
  background-color: #2C2E58;
}
.header .inner {
  display: flex;
  align-items: center;
  height: 80px;
}
.header .logo a {
  display: block;
  width: 126px;
  height: 26px;
  background: url("../img/logo_w.png") no-repeat center/100% auto;
}
.header .nav {
  display: flex;
  margin-left: 60px;
  color: #fff;
  font-size: 18px;
}
.header .nav li.active {
  text-decoration: underline;
}
.header .nav li:hover {
  text-decoration: underline;
}
.header .nav li + li {
  margin-left: 30px;
}
.header .util {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header .util .user {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-size: 14px;
  color: #fff;
}
.header .util .user .thumb {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.footer {
  color: #fff;
  background-color: #444;
}
.footer .inner {
  display: flex;
  align-items: center;
  height: 80px;
}
.footer .call {
  display: flex;
  font-weight: 500;
}
.footer .call li + li {
  margin-left: 20px;
}
.footer .copyright {
  margin-left: auto;
}

.contents {
  padding: 60px 0;
  min-height: calc(100vh - 160px);
}

.section:last-of-type {
  margin-bottom: 50px;
}

.sec-tit {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 700;
}

.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #F6F6F6;
  border-radius: 10px;
}
.search-box .input {
  width: 600px;
}

.table {
  overflow-x: auto;
}
.table table {
  width: 100%;
  min-width: 1400px;
}
.table table tr:hover {
  background-color: #eee;
}
.table table tr:last-of-type {
  border-bottom: 1px solid #ddd;
}
.table table th {
  height: 54px;
  background-color: #F6F6F6;
}
.table table td {
  padding: 10px;
  text-align: center;
}
.table table th, .table table td {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.table table th:last-child, .table table td:last-child {
  border-right-width: 0;
}
.table .ico-check {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/ico_check_off.png") no-repeat center/100% auto;
}
.table .ico-check.active {
  background: url("../img/ico_check_on.png") no-repeat center/100% auto;
}

.floating-btn {
  position: fixed;
  left: 50%;
  bottom: 120px;
  transform: translateX(-50%);
  padding: 0 40px;
  width: 1600px;
}
.floating-btn.scroll {
  position: sticky;
  left: auto;
  right: 40px;
  bottom: 40px;
  transform: translateX(0);
  margin: 0 auto;
}
.floating-btn .btn-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.floating-btn .tooltip {
  position: relative;
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background-color: #2C2E58;
  border-radius: 10px;
}
.floating-btn .tooltip::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  right: -30px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid transparent;
  border-left: 20px solid #2C2E58;
}
.floating-btn .btn {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.floating-btn .btn.kakao {
  background: url("../img/ico_kakao.png") no-repeat center/100% auto;
}

.login-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #F8F8F8;
}
.login-wrap .header, .login-wrap .footer {
  display: none;
}
.login-wrap .contents {
  padding: 0;
  min-height: auto;
}
.login-wrap .login-box {
  overflow: hidden;
  margin: 0 auto;
  padding: 70px 60px 0;
  max-width: 600px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.login-wrap .login-box .logo {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 38px;
  background: url("../img/logo.png") no-repeat center/100% auto;
}
.login-wrap .login-box .desc {
  margin-top: 30px;
  color: #666;
}
.login-wrap .login-box .input-wrap {
  margin: 60px 0 40px;
}
.login-wrap .login-box .input-wrap .input + .input {
  margin-top: 10px;
}
.login-wrap .login-box .btn-wrap.text {
  margin: 20px 0 60px;
  justify-content: center;
}
.login-wrap .login-box .info-box {
  margin: 0 -60px;
  padding: 20px;
  color: #2C2E58;
  background-color: rgba(44, 46, 88, 0.2);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.modal .dimd {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.modal .modal-content {
  overflow-y: auto;
  background-color: #fff;
}
.modal.open {
  display: block;
}
.modal.open .dimd {
  display: block;
}
.modal.alert .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  border-radius: 24px;
}
.modal.alert .txt-wrap {
  padding: 60px 20px;
  text-align: center;
  background-color: #CCD0E5;
}
.modal.alert .txt-wrap .logo {
  margin: 0 auto 20px;
  width: 100px;
}
.modal.alert .txt-wrap .tit {
  font-size: 32px;
  font-weight: 300;
  color: #2C2E58;
}
.modal.alert .txt-wrap .tit strong {
  font-weight: 700;
}
.modal.alert .txt-wrap .desc {
  margin-top: 10px;
  color: #666;
}
.modal.alert .btn-wrap {
  display: flex;
  padding: 20px;
}
.modal.alert .btn-wrap .btn {
  min-width: 230px;
}
.modal.alert .btn-wrap .btn + .btn {
  margin-left: 10px;
}
.modal.alert .btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url("../img/ico_close.png") no-repeat center/100% auto;
}

@media (max-width: 1600px) {
  .floating-btn {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .header .inner {
    flex-wrap: wrap;
    height: auto;
    padding: 30px 40px;
  }
  .header .logo {
    width: 100%;
    margin-bottom: 20px;
  }
  .header .nav {
    margin-left: 0;
  }
  .contents {
    min-height: calc(100vh - 146px - 80px);
  }
}
@media (max-width: 720px) {
  .btn {
    border-radius: 1.11vw;
  }
  .btn.line {
    border-width: 0.28vw;
  }
  .btn.text {
    font-size: 3.33vw;
  }
  .btn.size-s {
    padding: 0 2.78vw;
    height: 8.33vw;
  }
  .btn.size-m {
    padding: 0 2.78vw;
    min-width: 18.06vw;
    height: 9.72vw;
  }
  .btn.size-l {
    height: 11.11vw;
  }
  .btn-wrap.text .btn + .btn::before {
    margin: 0 2.78vw;
    width: 0.28vw;
    height: 3.33vw;
  }
  .input {
    margin-right: 2.78vw;
    padding: 0 2.78vw;
    height: 9.72vw;
    border-width: 0.28vw;
    border-radius: 1.11vw;
  }
  .inner {
    padding: 0 5.56vw;
  }
  .header .inner {
    padding: 5.56vw;
  }
  .header .logo {
    margin-bottom: 4.17vw;
  }
  .header .logo a {
    margin: 0 auto;
    width: 20.28vw;
    height: 5vw;
  }
  .header .nav {
    margin: 0 auto 4.17vw;
    font-size: 3.89vw;
  }
  .header .nav li + li {
    margin-left: 5.56vw;
  }
  .header .util {
    margin: 0 auto;
  }
  .header .util .user {
    margin-right: 5.56vw;
    font-size: 3.33vw;
  }
  .header .util .user .thumb {
    margin-right: 2.78vw;
    width: 5.56vw;
    height: 5.56vw;
  }
  .footer .inner {
    flex-direction: column;
    padding: 5.56vw;
    height: auto;
  }
  .footer .call li + li {
    margin-left: 2.78vw;
  }
  .footer .copyright {
    margin: 1.39vw auto 0;
  }
  .contents {
    padding: 9.72vw 0 5.56vw;
    min-height: calc(100vh - 60.83vw);
  }
  .section:last-of-type {
    margin-bottom: 8.33vw;
  }
  .sec-tit {
    margin-bottom: 5.56vw;
    font-size: 5.83vw;
  }
  .search-box {
    flex-direction: column;
    gap: 2.78vw;
    margin-bottom: 5.56vw;
    padding: 4.17vw;
    border-radius: 2.78vw;
  }
  .search-box .input {
    margin-right: 0;
    width: 100%;
  }
  .table table {
    min-width: 194.44vw;
  }
  .table table tr:last-of-type {
    border-bottom-width: 0.28vw;
  }
  .table table th {
    padding: 2.78vw 1.39vw;
    height: auto;
  }
  .table table td {
    padding: 2.78vw 1.39vw;
  }
  .table table th, .table table td {
    border-top-width: 0.28vw;
    border-right-width: 0.28vw;
  }
  .table .ico-check {
    width: 4.17vw;
    height: 4.17vw;
  }
  .floating-btn {
    bottom: 27.06vw;
    padding: 0 5.56vw;
  }
  .floating-btn.scroll {
    right: 5.56vw;
    bottom: 5.56vw;
  }
  .floating-btn .tooltip {
    margin-right: 4.17vw;
    padding: 2.78vw 4.17vw;
    font-size: 3.33vw;
    border-radius: 2.78vw;
  }
  .floating-btn .tooltip::before {
    top: 3.33vw;
    right: -6.94vw;
    border-top-width: 4.17vw;
    border-bottom-width: 4.17vw;
    border-right-width: 4.17vw;
    border-left-width: 4.17vw;
  }
  .floating-btn .btn {
    width: 9.72vw;
    height: 9.72vw;
  }
  .login-wrap .login-box {
    margin-top: 6.94vw;
    margin-bottom: 6.94vw;
    padding: 9.72vw 5.56vw 0;
    max-width: fit-content;
    width: calc(100% - 11.11vw);
    box-shadow: 0 0 2.78vw 0 rgba(0, 0, 0, 0.05);
    border-radius: 2.78vw;
  }
  .login-wrap .login-box .logo {
    width: 30.56vw;
    height: 6.67vw;
  }
  .login-wrap .login-box .desc {
    margin-top: 5.56vw;
    word-break: keep-all;
    line-height: 1.6;
  }
  .login-wrap .login-box .desc br {
    display: none;
  }
  .login-wrap .login-box .input-wrap {
    margin: 8.33vw 0 5.56vw;
  }
  .login-wrap .login-box .input-wrap .input + .input {
    margin-top: 2.78vw;
  }
  .login-wrap .login-box .btn-wrap.text {
    margin: 4.17vw 0 9.72vw;
  }
  .login-wrap .login-box .info-box {
    margin: 0 -8.33vw;
    padding: 4.17vw;
  }
  .modal.alert .modal-content {
    width: 80%;
    border-radius: 3.33vw;
  }
  .modal.alert .txt-wrap {
    padding: 8.33vw 2.78vw;
  }
  .modal.alert .txt-wrap .logo {
    margin: 0 auto 2.78vw;
    width: 22.22vw;
  }
  .modal.alert .txt-wrap .tit {
    font-size: 5.83vw;
  }
  .modal.alert .txt-wrap .desc {
    margin-top: 2.78vw;
  }
  .modal.alert .btn-wrap {
    padding: 5.56vw;
    flex-direction: column;
    gap: 2.78vw;
  }
  .modal.alert .btn-wrap .btn {
    min-width: 100%;
  }
  .modal.alert .btn-wrap .btn + .btn {
    margin-left: 0;
  }
  .modal.alert .btn-close {
    top: 4.17vw;
    right: 4.17vw;
    width: 4.17vw;
    height: 4.17vw;
  }
}